---
layout: default
---
  <div class="row">
    <div class="eight columns">
      <div class="row">
        <div class="twelve columns">

		<h3>{{ page.title }}</h3>

      <!-- Grid Example -->
      <div class="row">
        <div class="twelve columns">
			{{ content }}      
        </div>
      </div>

        </div>
      </div>


    </div>
   <div class="four columns">
      
      <h4>Related Writings</h4>
      <p>From the archives of this journal:</p>
      <ul class="disc">
      {% for post in site.related_posts limit: 10 %}        
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>

      <h4>About Edward Hyde</h4>
      <p>A night owl, citizen of London, of questionable character.</p>

    </div>
  </div>